body {
    font-family: Arial, sans-serif;
    background-color: #fefeff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: rgb(75, 62, 62);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-container {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.form-container a {
    text-decoration: none;
    color: #47c096;
}

.form-container a:hover {
    color: #007bff;
}

h2 {
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

 #forget p {
    margin-left: 105px;
 }

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

p {
    margin-top: 10px;
}
