body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    background: rgb(65, 49, 49);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #fff;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plan {
    background: #e9ecef;
    padding: 20px;
    border-radius: 8px;
    flex: 1;
    margin: 10px;
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

#selectedPlan {
    margin-top: 20px;
    text-align: center;
}
